@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body{
    margin-left: 7.5%;
    font-family: 'Lato', sans-serif;
}
header div{
    margin-top: 0;
    display: inline-flex;
}

.header_left button{
    color: #0078c7;
    border: 0;
    font-size: 30px;
    font-weight: bold;
}
.out_border{
    background-color: #0078c7;
    color: white;
    border-radius: 8%;
    margin-left: 1.5%;
    padding: 0px 3px;
}

.header_middle{
    margin-left: 320px;
}

.header_middle button{
    border: 0;
    color: grey;
    margin-right: 30px;
    font-size: 12px;
}

/* .header_middle_icon{
    
} */

.header_right{
    margin-left: 3px;
}

.join_now_button button{
    margin-left: 10px;
    font-size: 15px;
    border: 1px solid white;
    height: 49px;
    width: 98px;
    font-weight: bold;
    color: #808080;
}

.sign_in_button button{
    margin-left: 25px;
    font-size: 15px;
    border: 1px solid #0078c7;
    height: 49px;
    width: 98px;
    border-radius: 50px;
    font-weight: bold;
    color: #0078c7;
}

.middle_icon{
    height: 20px;
    width: 20px;
}

.Welcome p{
    color: brown;
    font-size: 52px;
    font-weight: 300;
}

.Welcome form label{
    color: #696767;
    font-size: 14px;
}

.Welcome form input{
    height: 45px;
    width: 400px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.Welcome form a{
    color: #0078c7;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.Welcome form button{
    color: white;
    background-color: #0078c7;
    margin-top: 24px;
    height: 45px;
    width: 409px;
    border-radius: 22px;
    border: 0;
}





/* 
.Welcome p{
    color: brown;
    font-size: 56px;
    font-weight: 100;
}


.login_form label{
    color: #696767;
    font-size: 14px;
}

.image_split{
    display: inline-flex;
}

.image_split img{
    height: 550px;
    margin-left: 460px;
} */
